@import "libs/_normalize"
@import "libs/_font"
@import "base/_variables"

    
*
    font-family: "Roboto", sans-serif
    font-size: 14px

.container
    width: 1140px
    margin: 0 auto
    padding: 0
    position: relative
    height: 100%

body
    background-color: #c48fa3

@import "blocks/_main"
@import "blocks/_buttons"
@import "blocks/_modal"
@import "blocks/_account"

