.header
    padding-top: 25px
    max-height: 25px
    &__wrapper
        position: relative
        display: flex
        flex-direction: row
        justify-content: flex-end
.main
    &__title
        margin: 30px 0 0 0 
        color: #fff
        text-align: center
        font-size: 54px
        font-weight: 700
        text-transform: uppercase
    &__subtitle
        margin: 15px 0 0 0 
        color: #fff
        text-align: center
        font-size: 26px
        font-weight: 400
    &__img
        margin: 25px 0 0 0
        width: 100%