.overlay
    position: fixed
    left: 0
    right: 0
    top: 0
    bottom: 0
    display: flex
    justify-content: center
    align-items: center
    background-color: rgba(0,0,0,0.6)
    transition: 0.2s
    visibility: hidden
    opacity: 0
    &_show
        visibility: visible
        opacity: 1
.modal
    position: absolute
    background-color: #ffffff
    border-radius: 3px
    visibility: hidden
    opacity: 0
    &__close
        position: absolute
        right: 0
        top: 0
        width: 15px
        height: 15px
        opacity: 0.6
        margin: 5px
        &:hover
            opacity: 1
            cursor: pointer
        &::before, &::after
            position: absolute
            left: 7px
            right: 0
            top: 0
            bottom: 0
            height: 15px
            width: 1px
            background-color: #000000
            content: ""
        &::before
            transform: rotate(45deg)
        &::after
            transform: rotate(-45deg)
    &__subtitle
        font-size: 22px
        font-weight: 400
        text-align: center
        &_reg, &_login
            margin: 20px 0 60px 0
        &_thanks
            margin: 20px 0 20px 0
    &__descr
        font-size: 14px
        text-align: center
    &_reg
        width: 366px
        max-height: 370px
        padding-bottom: 10px
    &_thanks
        width: 555px
        max-height: 190px
        padding: 10px
    &_login
        width: 366px
        max-height: 325px
        padding-bottom: 20px
    &_show
        visibility: visible
        opacity: 1
.form
    width: 100%
    margin: 0 auto
    position: relative
    &__input
        display: block
        font-size: 14px
        width: 80%
        height: 40px
        text-align: center
        border: 0
        border-radius: 3px
        margin: 0 auto 20px auto
        box-shadow: inset 0 0 0 50px #FFF0C9;
        background-color: #FFF0C9;
        &:last-of-type
            margin-bottom: 30px
        &:focus::placeholder
            color: transparent
        &_account
            width: 70%

    

    

